/* Defaults */
:root {
	--font-family: -apple-system, system-ui, sans-serif;
	--font-family-monospace: ia writter, Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}





/* Theme colors */
:root {
	--color-gray-20: #e0e0e0;
	--color-gray-50: #C0C0C0;
	--color-grey-70: #9d9d9d;
	--color-gray-90: #333;
	--color-red: #9b470f;

	--background-color: #ececec;

	--text-color: var(--color-gray-90);
	--text-color-link: #082840;
	--text-color-link-active: #9b470f;
	--text-color-link-visited: #17050F;

	--syntax-tab-size: 2;
}




/* Global stylesheet */
* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family-monospace);
	color: var(--text-color);
	background-color: var(--background-color);
	font-size: 17px;
	display: flex;
  flex-direction: column;
  justify-content: space-between; /* 垂直方向上的空间分配 */
  min-height: 100vh; /* 设置最小高度为视口高度，以确保 footer 在内容不足时也在底部 */
  height: 100%;
}

body {
	max-width: 40em;
}

h4 {
	letter-spacing: 1.5px !important;
	color: var(--color-red);}



/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

p:last-child {
	margin-bottom: 10px;
}
p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
}
a[href]:visited {
	color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

main {
	padding: 1rem;
}
main :first-child {
	margin-top: 10px;
}

header {
	border-bottom: 0px dashed var(--color-gray-20);
}


.links-nextprev {
	list-style: none;
	border-top: 0px dashed var(--color-gray-20);
	padding: 1em 0;
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}
code {
	word-break: break-all;
}

/* Header */
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1em;
}


.home-link {
	font-size: 1.2em; /* 16px /16 */
	font-weight: 700;
	margin-right: 2em;
	font-family: monospace;
}
.home-link:link:not(:hover) {
	text-decoration: none;
}

/* Nav */


.nav {
	display: flex;
	justify-content: space-between;
	padding: 0;
	padding-right: 0px;
	margin: 0;
	list-style: none;
	font-family: monospace;
}



.nav-item {
	display: inline-block;
	margin-right: 3em;
	font-size: 1.1em; /* 16px /16 */
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration:underline;
}

/* Posts list */
.postlist {
	list-style: none;
	padding: 0;
	padding-left: 1.5rem;
}
.postlist-item {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	counter-increment: start-from -1;
	margin-bottom: 1em;
}
.postlist-item:before {
	display: inline-block;
	pointer-events: none;
	content: "" counter(start-from, decimal-leading-zero) ". ";
	line-height: 100%;
	text-align: right;
	margin-left: -1.5rem;
}

.postlist-item:before {
	font-size: 0.8125em; /* 13px /16 */
	color: var(--color-red);
	font-style: italic;
}

.postlist-date {
	font-size: 0.8125em; /* 13px /16 */
	color: var(--color-gray-70);
	word-spacing: -0.5px;
	font-family: monospace;
}


.postlist-link {
	font-size: 1em; /* 19px /16 */
	font-weight: 700;
	flex-basis: calc(100% - 1.5rem);
	padding-left: .25em;
	padding-right: .5em;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
	font-weight: bold;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}
.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: .5em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.post-metadata time {
	margin-right: 1em;
}

/* Direct Links / Markdown Headers */
.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 1em;
	margin-left: .1em;
}
a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
	text-decoration: underline;
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
	color: #aaa;
}

h2 + .header-anchor {
	font-size: 1.5em;
}

table {
	border-collapse: collapse;
	text-align: left;
  } 
  
  th,td {
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px dotted #C0C0C0;
	text-align: right;
	font-size: 15px;
  }
  
  table.a {
	table-layout: auto;
	width: 60%; 
	text-align: left;
  }

  .a {
	margin-top:80px;
	margin-bottom: 80px;
  }

  .a th,
.a td {
  text-align: left; /* 默认所有单元格左对齐 */
  font-size: 13px;
  font-family: monospace;
}

.a td:nth-child(2) {
  text-align: right; /* 将第二列（即每行的第二个单元格）设置为右对齐 */
}


img {
    max-width: 100%;
    height: auto;
}

.logo img {
	display: block;
  margin-left: auto;
  margin-right: auto;
    max-width: 60% !important;
	    height: auto;
}

.pagecover img {
	display: block;
    max-width: 25% !important;
	    height: auto;
}

.footer-image {
    max-width: 35% !important;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.intro{
	margin-top: 50px;
	margin-bottom: 50px;
}


  blockquote {
	border-left: 4px solid #9b470f; /* 左边框为蓝色 */
	border-width: 2px;
	padding-left: 10px;
	max-width: 70% !important;
	margin-top: 35px;
	margin-bottom: 35px;
	color: #662d17;
  }


  footer {	text-align: center;
	padding: 40px;
  }